:root {
    --primary-bg-color: #ff8c00; 
    --accent-color: #434343; 
    --text-color: #1e1e1e; 
    --secondary-color: #666666; 
    --background-color: #dad9d9; 
    }

/* Style for the footer container */
footer {
    background-color: var(--primary-bg-color);
    color: var(--text-color);
    padding: 5px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    box-sizing: border-box;
    z-index: 1000; 
}

/* Styling for footer content */
.footer-content {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
}

/* Styling for social media links */
.social-links {
    list-style-type: none;
    padding: 0;
}

.social-links li {
    display: inline;
    margin: 0 10px;
}

.social-links li a {
    color: var(--accent-color);
    text-decoration: none;
    font-size: 16px;
    transition: color 0.3s ease;
}

.social-links li a:hover {
    color: var(--secondary-color);
}

/* Styling for copyright notice */
.footer-content p {
    margin: 0;
}

@media (max-width: 768px) {
    footer {
        padding: 10px; /* Increase padding if needed for more spacing */
    }

    .footer-content {
        flex-direction: row; /* Ensure the content stays in a row */
        justify-content: center; /* Center-align items in the row */
    }

    .social-links {
        display: flex; /* Ensure the social links stay in a row */
        justify-content: center; /* Center-align social links */
    }

    .social-links li {
        margin: 0 8px; /* Adjust spacing between social links */
    }

    .social-links li a {
        font-size: 14px; /* Slightly smaller font size for better fit */
    }
}
